# Environment files
.env
server/.env
client/.env

# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build folders
dist/
build/
client/dist/

# Logs
logs/
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/
